/*@import url('../styles/lib/simple-line-icons.css');*/

@font-face {
    font-family: 'UVFDINPro';
    src: url('../styles/fonts/UVFDINPro.eot'), url('../styles/fonts/UVFDINPro-Italic.eot'), url('../styles/fonts/UVFDINPro-Bold.eot');
    src: url('../styles/fonts/UVFDINPro.woff2') format('woff2'), url('../styles/fonts/UVFDINPro.woff') format('woff'), url('../styles/fonts/UVFDINPro.ttf') format('truetype'), url('../styles/fonts/UVFDINProd41d.eot?#iefix') format('embedded-opentype'), url('../styles/fonts/UVFDINPro-Bold.woff2') format('woff2'), url('../styles/fonts/UVFDINPro-Bold.woff') format('woff'), url('../styles/fonts/UVFDINPro-Bold.ttf') format('truetype'), url('../styles/fonts/UVFDINPro-Boldd41d.eot?#iefix') format('embedded-opentype'), url('../styles/fonts/UVFDINPro-Italic.woff2') format('woff2'), url('../styles/fonts/UVFDINPro-Italic.woff') format('woff'), url('../styles/fonts/UVFDINPro-Italic.ttf') format('truetype'), url('../styles/fonts/UVFDINPro-Italicd41d.eot?#iefix') format('embedded-opentype');
    src: url('/styles/fonts/slick.eot');
    src: url('/styles/fonts/slick-.eot#iefix') format('embedded-opentype'), url('/styles/fonts/slick.svg#slick') format('svg');
    font-weight: normal;
    font-style: normal;
}


.img-editor {
    max-width: 80%;
}


/*  Tablet  */
@media (min-width: 767px) {

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1) {
        clear: none;
    }

    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}


/*  Medium Desktop  */
@media (min-width: 992px) {

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1) {
        clear: none;
    }

    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}


/*  Large Desktop  */
@media (min-width: 1200px) {

    /* Column clear fix */
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1) {
        clear: none;
    }

    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}


.introduction {
    clear: both;
    padding: 40px 0;
    text-align: center;
}

.introduction .intro-text {
    color: #606060;
    font-size: 20px;
}

.introduction .menu-items {
    margin-top: 50px;
    position: relative;
}

.menu-items .item {
    display: inline-block;
}

.menu-items .item.item0 {
    left: 0;
    position: absolute;
    top: -250px;
}

.menu-items .item.item3 {
    position: absolute;
    right: 0;
    top: -250px;
}

.menu-items .item.item1 {
    float: left;
    margin-left: 140px;
    margin-right: 65px;
}

.menu-items .item.item2 {
    float: left;
}

.module-event {
    background: #009245;
    padding: 40px 0;
}

.module-event .n-item .item-box {
    border: none;
    margin: 0;
}

.module-event .n-item figure {
    height: 280px;
    margin-right: 15px;
    overflow: hidden;
    width: 50%;
}

.module-event .n-item .n-title, .module-event .n-item .n-title * {
    float: none;
    width: auto;
}

.module-event .n-item .n-desc {
    float: none;
    padding-right: 15px;
}

.article-event .more-link {
    margin-top: 10px;
}

.module-event .n-item .n-desc > p:last-child {
    margin: 0;
}

.library {
    float: right;
    width: 25%;
}

.library .item {
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    border: 1px solid #4f97d0;
}

.library .item:last-of-type {
    margin-bottom: 0;
}

.library .item a.text {
    background: #ffffff;
    /*bottom: 0;*/
    color: #0079c1;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    /*padding: 1px 10px;*/
    /*position: absolute;*/
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.library .item a.album h4{
    font-size: 13px !important;
}

.library .item > figure {
}

.library .item img {
    width: 100%;
    height: 98px;
    object-fit: cover;
}

.gall-items {
    float: left;
    padding-right: 15px;
    width: 75%;
}

.module-event .item-box figure img {
    height: 100%;
    object-fit: cover;
}

.n-item {
    float: left;
}

.n-item .item-box {
    background: #ffffff;
    border-bottom: 5px solid #00559a;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 40px;
    width: 100%;
}

.n-item .n-title {
    float: left;
    padding: 10px 15px;
    text-align: left;
}

.n-item .n-title > a {
    color: #04569c;
    display: block;
    float: left;
    font-family: -webkit-pictograph;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    overflow: hidden;
    width: 100%;
}

.n-item .n-title > a:hover {
    color: #febc11;
}

.n-item .n-title .date, .article-detail .date {
    color: #333333;
    display: inline-block;
    font-family: -webkit-pictograph;
    font-size: 13px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.n-item figure {
    float: left;
    overflow: hidden;
    width: 100%;
}

.n-item figure img {
    width: 100%;
}

.n-item .n-desc {
    color: #606060;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 15px 10px 15px;
    text-align: justify;
}

.n-item .n-desc > p {
    text-align: center;
}

.more-link {
    border-radius: 15px;
    color: #04569c;
    display: inline-block;
    font-size: 0;
    line-height: 1.2;
    margin-top: 15px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.more-link:hover {
    color: #febc11;
}

.more-link .fa {
    background: #febd11;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    margin-left: 5px;
    padding-left: 3px;
    text-align: center;
    width: 20px;
}

.more-link:hover .fa {
    background: #00559a;
}

.n-item .n-title .date .fa {
    color: #febc11;
    margin-right: 5px;
}

.gall-item {
    margin-bottom: 30px;
}

.gall-item .item-box {
    position: relative;
}

.gall-item figure img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gall-item .gall-content {
    background: rgba(0, 85, 154, 1);
    bottom: 0;
    left: 0;
    padding: 10px 10px 0px;
    position: absolute;
    width: 100%;
}

.gall-item .gall-title {
    color: #ffffff;
    display: inline-block;
    /*font-size: 18px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 330px;
}

.btn-loading {
    background: #febd11;
    border-radius: 0;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
}

.menu-item.slide-active .icon-angle::before, .menu-item.active .icon-angle::before {
    content: "";
}

.main-item .title {
    color: #00559a;
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main-item > address {
    margin: 0;
}

.main-item > address > span {
    color: #00559a;
    display: block;
    font-size: 18px;
}

.main-item > address > span > span {
    margin-right: 40px;
}

/* #region FOOTER */
.footer__logo {
    float: left;
    width: 25%;
    padding: 70px 15px 0 15px;
}

.contact-footer {
    /*clear: both;*/
    color: #fff;
    padding-top: 25px;
    float: left;
    width: 50%;
}



.web-views {
    float: left;
    width: 25%;
    padding: 25px 15px 0 15px;
}

.amount-view {
    color: #FFFFFF;
    padding-bottom: 10px;
}

.title-view {
    font-size: 15px;
}

.count-view {
    font-weight: bold;
}

.title-footer {
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.brand {
    overflow: hidden;
    padding: 10px 0;
}

.brand li {
    height: 70px;
    list-style: outside none none;
    padding: 5px 10px;
    position: relative;
}

.brand li.item img {
    left: 50%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: auto;
}


.footer {
    background: #00559a;
    clear: both;
    padding: 25px 0 25px;
}

.subscribe {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 15px;
    padding: 0 30px;
    text-align: right;
    width: 33.3333%;
}

.subscribe .subscribe-title {
    color: #00549a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.subscribe .subscribe-control {
}

.subscribe .subscribe-control .bao {
    margin: 15px 0;
    position: relative;
}

.subscribe .subscribe-control .input-email {
    background: #00559a;
    border: medium none;
    color: #ffffff;
    height: 40px;
    padding: 5px 15px;
    width: 100%;
}

.subscribe .subscribe-control .input-email::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.subscribe .subscribe-control .btn-subscribe {
    background: #febd11 url("../styles/icon/bg_send.png") no-repeat scroll center center;
    border: medium none;
    font-size: 0;
    height: 40px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 40px;
}

.copyright-content {
    color: #ffffff;
    float: left;
    font-size: 14px;
    padding: 0px 0 0;
    text-align: left;
    width: 33.3333%;
}

.copyright-content ul {
    list-style: none;
}

.copyright-content ul li a {
    display: block;
    margin-bottom: 10px;
}

.design {
    display: none;
    float: right;
    margin-left: 5px;
    padding-left: 8px;
}

.copyright-content a {
    color: #ffffff;
    text-transform: uppercase;
}

.copyright {
    color: #fff;
    margin-top: 20px;
}

.copyright a {
    color: #fff;
}

.box-title {
    margin-bottom: 40px;
}

.box-title .text {
    color: #00559a;
    display: inline-block;
    font-family: -webkit-pictograph;
    font-size: 40px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
}

.social {
    float: left;
    text-align: center;
    width: 33.3333%;
}

.social .title {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 15px;
    text-transform: uppercase;
}

.social a:last-of-type {
    margin: 0;
}

.social a {
    background: #1a66a3;
    border-radius: 50%;
    color: #fefefe;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    margin-right: 10px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.social a:hover {
    background: #fefefe;
}

.social a:hover .fa-facebook {
    color: #5567a9;
}

.social a:hover .fa-twitter {
    color: #08c1f3;
}

.social a:hover .fa-google-plus {
    color: #dd4b39;
}

.social a:hover .fa-dribbble {
    color: #f26798;
}

.social a:hover .fa-google-plus-square {
    color: #be4a39;
}

.social a:hover .fa-youtube {
    color: #b33632;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.customer-logos{
    width: 100%;
    clear: both;
    padding: 40px 0;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    padding: 10px 0;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,

.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.svg-icon svg {
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
    fill: currentcolor;
    display: inline-block
}

.site-logo {
    padding-top: 1.8em;
    padding-bottom: 1.8em
}

.site-logo h1, .site-logo h2, .site-logo p {
    margin: 0;
    line-height: 0;
    text-indent: -9999px
}

.site-header {
    border-bottom: 1px solid #e1e1e1;
    background: url('../styles/menu/menu-bg.png') no-repeat center top;
}

.header-content {
    line-height: 1
}

.header-v1 .header-content {
    padding-left: 0
}

.site-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.main-nav {
    margin-left: auto
}

.main-nav a {
    font-weight: 600;
    font-size: .975em;
    color: #2e2e2e;
    display: block;
}

.main-nav a:hover {
    text-decoration: none
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    position: relative
}

.main-nav ul ul {
    -webkit-transition: top .3s ease 0s, opacity .3s;
    transition: top .3s ease 0s, opacity .3s;
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 260px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    background: #fff;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 -5px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -5px 30px -5px rgba(0, 0, 0, 0.2);
    z-index: 99
}

.main-nav ul ul:before {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: transparent;
    left: 0;
    top: -10px;
    z-index: 99
}

.main-nav ul ul ul {
    -webkit-transition: left .3s ease 0s, opacity .3s;
    transition: left .3s ease 0s, opacity .3s;
    left: 115%;
    top: 0;
    margin-top: 0;
    z-index: 99
}

.main-nav ul ul ul:before {
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: -10px;
    z-index: 99
}

.main-nav li {
    position: relative
}

.main-nav li:hover > ul {
    opacity: 1;
    z-index: 9999;
    top: 59%;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.main-nav li li {
    padding: 0 20px;
    display: block;
    line-height: 1;
    -webkit-transition: .5s;
    transition: .5s;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    white-space: nowrap
}

.main-nav li li:last-child {
    border-bottom: 0
}

.main-nav li li a {
    font-size: 16px;
    padding: 18px 0;
    font-weight: 500;
    color: #2e2e2e;
    position: relative;
    display: block;
    text-transform: capitalize
}

.main-nav li li:hover > a {
    color: #9cc212
}

.main-nav li li:hover > ul {
    top: 0;
    left: -webkit-calc(110%);
    left: calc(110%)
}

.main-nav ul.menu {
    zoom: 1
}

.main-nav ul.menu:before, .main-nav ul.menu:after {
    content: "";
    display: table
}

.main-nav ul.menu:after {
    clear: both
}

.main-nav ul.menu li.mf-active-menu {
    z-index: 9
}

.main-nav ul.menu > li {
    float: left;
    position: relative;
    text-align: left;
    padding: 27px 22px;
    margin-bottom: 0
}

.main-nav ul.menu > li:first-child > ul {
    left: 0
}

.main-nav ul.menu > li > a {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s
}

.main-nav ul.menu > li.current-menu-item > a, .main-nav ul.menu > li.current-menu-parent > a, .main-nav ul.menu > li.current-menu-ancestor > a, .main-nav ul.menu > li:hover > a {
    color: #9cc212
}

.main-nav ul.menu > li.active > a, .main-nav ul.menu > li:hover > a {
    color: #9cc212
}

.main-nav > ul.menu {
    zoom: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.main-nav > ul.menu:before, .main-nav > ul.menu:after {
    content: "";
    display: table
}

.main-nav > ul.menu:after {
    clear: both
}

.main-nav > ul.menu > li {
    position: relative;
    padding: 0 1.4em 1.6em;
    margin-bottom: 0
}

.main-nav > ul.menu > li:first-child > ul {
    left: 0
}

.main-nav > ul.menu > li:last-child {
    padding-right: 0
}

.main-nav > ul.menu > li > a {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s
}

.main-nav > ul.menu > li.current_page_item > a, .main-nav > ul.menu > li:hover > a {
    color: #9cc212
}

.main-nav li:hover > ul {
    opacity: 1;
    z-index: 9999;
    top: 100%;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.main-nav li li:hover > ul {
    top: 0;
    left: -webkit-calc(110%);
    left: calc(110%)
}

.main-nav .menu {
    position: relative
}

.main-nav .menu .is-mega-menu {
    position: static !important
}

.main-nav .menu .is-mega-menu:hover .dropdown-submenu {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
}

.main-nav .menu .is-mega-menu:hover.align-right .dropdown-submenu {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.main-nav .menu .is-mega-menu:hover.align-left .dropdown-submenu {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.main-nav .menu .is-mega-menu .dropdown-submenu {
    left: 0;
    -webkit-transform: translateX(0) scale(0);
    -ms-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    width: 100%;
    padding: 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu > li {
    padding: 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-content {
    padding: 42px 15px
}

.main-nav .menu .is-mega-menu .dropdown-submenu .menu-item-mega {
    padding: 0 25px
}

.main-nav .menu .is-mega-menu .dropdown-submenu .menu-item-mega > a {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    font-weight: 500;
    text-transform: uppercase
}

.main-nav .menu .is-mega-menu .dropdown-submenu .menu-item-mega > a:hover {
    color: #fff
}

.main-nav .menu .is-mega-menu .dropdown-submenu .menu-item-mega > a.hide-text {
    visibility: hidden
}

.main-nav .menu .is-mega-menu .dropdown-submenu .menu-item-mega .sub-menu {
    background-color: transparent
}

.main-nav .menu .is-mega-menu .dropdown-submenu .menu-item-mega .sub-menu .sub-menu {
    margin-left: 10px;
    padding-bottom: 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mr-col {
    border-right: 1px solid #2f2f2f
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mr-col:last-child {
    border: 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-submenu .sub-menu {
    position: static;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    width: 100%;
    border: 0;
    z-index: 9999;
    min-width: inherit;
    padding: 0;
    margin-top: 20px
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-submenu .sub-menu:before {
    display: none
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-submenu .sub-menu li {
    padding: 0;
    border: 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-submenu .sub-menu li a {
    padding: 12px 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-submenu .sub-menu li:first-child > a {
    padding-top: 0
}

.main-nav .menu .is-mega-menu .dropdown-submenu .mega-menu-submenu .sub-menu li:last-child > a {
    padding-bottom: 0
}

.main-nav .menu .is-mega-menu.align-right {
    position: static
}

.main-nav .menu .is-mega-menu.align-right .dropdown-submenu {
    left: auto;
    right: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.main-nav .menu .is-mega-menu.align-left {
    position: static
}

.main-nav .menu .is-mega-menu.align-left .dropdown-submenu {
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.main-nav .menu .is-mega-menu:hover .mega-menu-container {
    opacity: 1;
    top: 100%;
    z-index: 9999;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.main-nav .menu .is-mega-menu .sub-menu {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.header-v1 .mf-active-menu, .header-v3 .mf-active-menu {
    display: none
}

.primary-mobile-nav {
    width: 340px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -340px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #848484;
    z-index: 9999
}

.primary-mobile-nav .mobile-nav-content {
    padding: 50px 30px
}

.primary-mobile-nav .close-canvas-mobile-panel {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    margin-bottom: 25px;
    color: #fff
}

.primary-mobile-nav .close-canvas-mobile-panel:before, .primary-mobile-nav .close-canvas-mobile-panel:after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 14px;
    top: 0;
    background-color: #393939
}

.primary-mobile-nav .close-canvas-mobile-panel:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.primary-mobile-nav .close-canvas-mobile-panel:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.primary-mobile-nav ul.menu {
    padding: 0
}

.primary-mobile-nav ul.menu li {
    list-style: none;
    margin-bottom: 0
}

.primary-mobile-nav ul.menu li.menu-item-has-children .toggle-menu-children {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 13px;
    height: 13px;
    display: block
}

.primary-mobile-nav ul.menu li.menu-item-has-children .toggle-menu-children:before, .primary-mobile-nav ul.menu li.menu-item-has-children .toggle-menu-children:after {
    content: '';
    position: absolute;
    background-color: #252525
}

.primary-mobile-nav ul.menu li.menu-item-has-children .toggle-menu-children:before {
    width: 1px;
    height: 100%;
    left: 6px;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.primary-mobile-nav ul.menu li.menu-item-has-children .toggle-menu-children:after {
    height: 1px;
    width: 100%;
    top: 6px;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.primary-mobile-nav ul.menu li > a {
    color: #252525;
    position: relative
}

.primary-mobile-nav ul.menu li > a:hover {
    color: #9cc212
}

.primary-mobile-nav ul.menu li.active > a {
    color: #9cc212
}

.primary-mobile-nav ul.menu li.active > a .toggle-menu-children:before {
    opacity: 0
}

.primary-mobile-nav ul.menu li.current_page_parent > a, .primary-mobile-nav ul.menu li.current-menu-item > a, .primary-mobile-nav ul.menu li.current-menu-ancestor > a, .primary-mobile-nav ul.menu li.current-menu-parent > a {
    color: #9cc212
}

.primary-mobile-nav ul.menu ul {
    padding-left: 15px;
    display: none;
    padding-top: 10px
}

.primary-mobile-nav ul.menu ul li {
    padding: 8px 0
}

.primary-mobile-nav ul.menu ul li a {
    font-size: 14px;
    display: block
}

.primary-mobile-nav ul.menu > li {
    border-bottom: 1px solid #efefef;
    padding: 15px 0 14px
}

.primary-mobile-nav ul.menu > li > a {
    font-size: 16px;
    display: block;
    padding-right: 20px
}

.primary-mobile-nav .toggle-search {
    display: none !important
}

.primary-mobile-nav .extra-menu-item.menu-item-search .search-form {
    position: relative;
    opacity: 1
}

.primary-mobile-nav .extra-menu-item.menu-item-search .search-form .search-field:hover, .primary-mobile-nav .extra-menu-item.menu-item-search .search-form .search-field:focus {
    border-color: #efefef
}

.primary-mobile-nav .mf-header-item-button {
    float: none
}

.primary-mobile-nav.open {
    right: 0
}

.navbar-toggle {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: static
}

.navbar-icon {
    -webkit-transition: all .4s;
    transition: all .4s;
    height: 25px;
    width: 27px;
    position: relative;
    float: right
}

.navbar-icon .navbars-line {
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block;
    width: 27px;
    height: 2px;
    background-color: #252525;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer
}

.navbar-icon .navbars-line:before, .navbar-icon .navbars-line:after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #252525
}

.navbar-icon .navbars-line:before {
    top: -8px
}

.navbar-icon .navbars-line:after {
    bottom: -8px
}

.header-v1 .main-nav > ul.menu {
    margin-top: 1.6em
}

.container {
    padding-left: 0;
    padding-right: 0
}

.widget {
    margin-bottom: 50px
}

.widget .widget-title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2e2e2e;
    margin: 0 0 25px 0
}

.widget ul {
    margin: 0;
    padding: 0
}

.widget ul li {
    list-style: none;
    margin: 0
}

.widget ul li a {
    color: #2e2e2e
}

.widget ul li a:hover {
    text-decoration: none;
    color: #9cc212
}

.widget table, .widget select {
    width: 100%
}

.widget select {
    border: 1px solid #f2f2f2;
    height: 30px;
    background-color: transparent
}

.widget select option {
    color: #aaa
}

.widget table {
    text-align: left;
    width: 100%
}

.widget table caption {
    border: 1px solid #f2f2f2;
    border-bottom-width: 0;
    text-align: center
}

.widget table th, .widget table td {
    border-color: #f2f2f2
}

.widget table tr {
    border: 1px solid #f2f2f2;
    border-bottom-width: 0;
    padding: 3px 0
}

.widget table tr td, .widget table tr th {
    padding: 0 5px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2
}


.topbar .widget {
    float: left;
    margin-bottom: 0
}

.topbar p {
    margin: 0
}

.topbar a {
    color: #fff
}

.topbar a:hover {
    color: #9cc212
}

.topbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.topbar ul li a {
    color: #fff
}

.topbar ul li a:hover {
    color: #9cc212
}

.header-v1 .topbar {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    position: relative;
    top: -3px;
    line-height: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 18px 0
}

.header-v1 .topbar .topbar-widgets {
    float: right;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.header-v1 .topbar .topbar-widgets .widget {
    border-left: 1px solid #405847;
    padding-left: 1.875em;
    margin-left: 1.875em
}

.header-v1 .topbar .topbar-widgets .widget:first-child, .header-v1 .topbar .topbar-widgets .widget:last-child {
    border-left: 0;
    padding-left: 0
}

.header-v1 .topbar .widget {
    margin-bottom: 0
}

.header-v1 .topbar .widget .pull-left i {
    color: #9cc212;
    font-size: 1.25em;
    margin: .5em .9em 0 0;
    line-height: 36px
}

.header-v1 .topbar .widget .pull-right div {
    color: #a2b1a5;
    font-size: .875em
}

.header-v1 .topbar .widget .pull-right > div:first-child {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px
}

.header-v1 .topbar .socials {
    margin: 2px 0 0 0
}

.header-v1 .topbar .socials li a {
    color: #fff;
    border: 1px solid #405847
}

.header-v1 .topbar .socials li a:hover {
    border: 1px solid #fff;
    color: #9cc212
}

.header-v1 .header-main .menu-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header-v1 .header-main .menu-row:after, .header-v1 .header-main .menu-row:before {
    display: none
}

.hide-topbar.header-v1 .site-header .header-main {
    border-top: 0
}

.socials li {
    display: inline-block
}

.socials a {
    display: inline-block;
    width: 1.875em;
    height: 1.875em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 27px;
    color: #fff;
    margin: 0 .3em;
    -webkit-transition: all .5s;
    transition: all .5s
}

.socials a:hover {
    border: 0;
    color: #9cc212
}

.socials a i {
    font-size: 12px
}

.site-header .logo img {
    width: 253px
}

body.header-sticky {
    padding-top: 144px
}

.site-header.sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #fff
}

.site-header.sticky .topbar {
    display: none
}

.site-header.sticky .logo img {
    width: 110px
}

@media (min-width: 1200px) {
    #topbar_mobile {
        display: none
    }

    .hide-topbar .site-logo, .header-v1 .site-logo {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navbar-toggle {
        display: none
    }


}

@media (max-width: 1199px) {
    .header-v1 .topbar {
        height: auto
    }

    .site-header {
        background-image: none
    }

    .site-menu {
        display: none !important
    }

    .navbar-toggle {
        display: block !important
    }

    .primary-mobile-nav .menu-extra {
        float: left;
        width: 100%;
        display: block
    }

    .primary-mobile-nav .menu-extra li {
        font-size: 16px;
        color: #252525;
        padding: 15px 0 14px;
        margin: 0;
        width: 100%;
        border-left: 0;
        border-bottom: 1px solid #efefef
    }

    .primary-mobile-nav .menu-extra li a {
        color: #252525;
        font-size: 16px
    }

    .primary-mobile-nav .menu-extra .extra-menu-item .search-form {
        width: 100%;
        top: 0;
        right: 0
    }

    .primary-mobile-nav .menu-extra .menu-item-cart svg, .primary-mobile-nav .menu-extra .menu-item-schedule svg, .primary-mobile-nav .menu-extra .menu-item-cart i, .primary-mobile-nav .menu-extra .menu-item-schedule i {
        display: none
    }

    #topbar {
        display: none !important
    }

    .topbar-mobile {
        padding: 18px 0
    }

    .topbar-mobile .widget {
        padding: 0 10px
    }

    .topbar-mobile:before, .topbar-mobile:after {
        display: none
    }

    .topbar-mobile p {
        margin: 0
    }

    .topbar-mobile .topbar-mobile-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .header-v1 .site-header .header-main {
        border: 0
    }

    .header-v1 .site-header .header-main > .container {
        width: 100%
    }

    .site-header .logo img {
        width: 210px
    }

    .header-v1 .site-logo {
        padding-left: 35px;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .header-v1 .navbar-toggle {
        padding-right: 45px
    }

    .header-v1 .header-content {
        padding: 0;
        display: none
    }

    .header-v1 .primary-mobile-nav .menu-extra .menu-item-cart .grd-mini-cart-content {
        display: none
    }


}

@media (max-width: 991px) {
    .container {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media (max-width: 767px) {

    .header-v1 .topbar .topbar-widgets .widget {
        text-align: center;
        padding-left: 15px;
        margin-left: 15px
    }

    .header-v1 .topbar .topbar-widgets .widget .pull-left {
        display: none
    }

    .header-v1 .topbar .topbar-widgets .widget:nth-child(2) {
        border-left: 0;
        margin-left: 0;
        padding-left: 0
    }

    .header-v1 .topbar .topbar-widgets .widget:first-child {
        display: none
    }

    .header-v1 .header-content {
        padding: 0
    }

    .header-v1 .site-logo {
        padding-left: 15px
    }

    .site-header .logo img {
        width: 180px
    }

    .site-logo {
        padding-top: 5px;
        padding-bottom: 5px
    }

    .header-v1 .navbar-toggle {
        padding-right: 15px
    }
    .language-custom {
        display: block !important;
    }
}

@media (max-width: 480px) {
    .site-logo {
        padding-top: 0.8em;
        padding-bottom: 0.8em
    }

    .site-header .logo img {
        width: 150px
    }
}



body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
textarea {
    /*color: #333;*/
    font-family: 'Roboto', sans-serif;
    /*font-size: 15px;*/
    /*font-weight: 400;*/
    /*line-height: 1.5625;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-decoration: none;*/
}


input,
label,
textarea {
    /*color: #333;*/
    font-family: 'Roboto', sans-serif;
    /*font-size: 13px;*/
    /*font-weight: 300;*/
}

li,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol li {
    list-style-type: decimal;
}

strong,
b {
    font-weight: 700;
}

/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
    /*color: #0d72c7;*/
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}


/* Body
------------------------------------------------------------ */

body {
    background-color: #fff;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
    width: 100%;
    padding: 40px 0;
    clear: both;
}

.wrap {
    width: 1170px;
    margin: 0 auto
}


#title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.25;
    margin: 0;
    text-transform: uppercase;
}

#title a,
#title a:hover {
    color: #000;
    padding: 30px 0px;
    text-decoration: none;
    float: left;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: url('/styles/logo/logo.png') no-repeat center center;
    background-size: 330px;
}

#description {
    font-size: 13px;
    padding: 0 0 0 20px;
    display: none;
}


#inner {
    margin: 0 auto;
    width: 1170px;
}

#content-sidebar-wrap {
    float: left;
    width: 750px;
}

.content-sidebar #content-sidebar-wrap,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
    width: 100%;
}

.clear {
    clear: both;
}

.post-info {
    font-size: 13px;
    margin: -5px 0 15px;
}

img {
    height: auto;
    max-width: 100%;
}


.alignleft {
    float: left;
    margin: 0 15px 10px 0;
}


.more-from-category {
    padding: 5px 15px 0;
}

/*Slick
-------------------------------------------------------------------*/

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

#content-home .widgettitle {
    margin: 0 0 40px;
    position: relative;
    font-size: 28px;
    text-align: center;
    padding: 11px;
    color: #ffffff;
    text-transform: uppercase;
    background: #009245;
    font-weight: 500;
}

#content-home .widget {
    width: 555px;
    margin: 0 15px;
    float: left;
}

.rslides_container {
    margin-bottom: 30px !important;
}

.item-product-home a {
    color: #000;
    font-size: 14px;
    text-align: center;
    float: left;
    width: 100%;
    line-height: 22px;
}

.item-product-home a:hover {
    color: #17a555
}

.item-product-home .n-product {
    font-size: 17px;
    font-weight: 700;
    display: block;
}

.item-product-home .text-center {
    text-align: center;
    margin-top: 54px;
    float: left;
    width: 100%;
    height: 68px;
}

.item-product-home .img-product {
    height: 185px;
    width: 185px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.product-home .item-product-home {
    padding: 54px 0 0;
    margin-bottom: 15px;
}

.product-home .item-product-home:hover {
    border-top: 3px solid #00a000;
    box-shadow: 0 0 25px #cccccc;
    position: relative;
    z-index: 9;
}

.item-product-home .img-product img {
    width: 165px;
    margin: 0 auto;
    margin-left: 50px;
    height: 300px;
}

#content-home .caia-post-list-widget .post h3 a {
    color: #08793d;
    font-size: 18px;
    font-weight: 500;
}

#content-home .caia-post-list-widget .post h3 {
    margin-bottom: 0;
    text-align: justify;
}

#content-home .caia-post-list-widget .post img {
    width: 250px;
    margin-right: 10px;
}

#content-home .caia-post-list-widget .post img {
   height: 160px;
}

#content-home .caia-post-list-widget .post .post-info {
    color: #03612f;
    font-size: 14px;
    margin: 5px 0 3px;
}

#content-home .caia-post-list-widget .post p {
    color: #747474;
    text-align: justify;
}

#content-home .caia-post-list-widget .alignleft {
    margin: 0
}

#content-home .caia-post-list-widget .more-from-category a {
    margin: 0 auto;
    color: #fff;
    background: #009245;
    padding: 10px 30px;
    text-transform: uppercase;
}

#content-home .caia-post-list-widget .more-from-category {
    text-align: center;
    float: left;
    width: 100%;
    margin: 20px 0 30px;
}

.item-product .sanpham span.n-product {
    font-size: 17px;
    font-weight: 700;
    display: block;
}

.item-product .sanpham a {
    font-weight: 500;
    color: #009245;
    font-size: 15px;
    text-align: center;
}

.item-product .sanpham .text-center {
    text-align: center;
    margin: 25px 0 15px;
    float: left;
    width: 100%;
    line-height: 21px;
}

.item-product .sanpham .nd p {
    text-align: justify;
}

/* ----- MOBILE ----- */

@media screen and (max-width: 1170px) {
    .wrap, #inner {
        width: 960px;
    }

    #title a, #title a:hover {
        background-size: 270px;
    }

    #content-home .widget {
        width: 46%;
        margin: 0 2%;
        float: left;
    }

}

@media screen and (max-width: 960px) {
    .wrap, #inner {
        width: 96%;
    }

    #title a, #title a:hover {
        background-size: 330px;
    }

    #content-home .widget {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #content-home .widgettitle {
        margin: 0 0 15px;
    }

    .item-product-home .text-center {
        margin-top: 35px;
    }

    .product-home .item-product-home {
        padding: 40px 0 0;
    }


}

@media screen and (max-width: 860px) {
    #title a, #title a:hover {
        background-size: 300px;
    }

    p.field-user_name,
    p.field-user_email,
    .field-user_email,
    .field-user_phone,
    .field-question_brief {
        float: left;
        width: 100% !important;
    }

    p.field-user_name input, p.field-user_email input {
        width: 98% !important;
        margin: 0;
    }

    #ask-new-question input {
        width: 98%;
        margin: 0;
    }


}

@media screen and (max-width: 768px) {
    #title a, #title a:hover {
        background-size: 80%;
    }

    .product-home .slick-dots {
        display: none !important;
    }

    .item-product-home .img-product img {
        width: auto;
    }

    .item-product-home .img-product {
        height: 320px;
        width: auto;
    }


}

@media screen and (max-width: 667px) {
    .product-home .item-product-home {
        padding: 0
    }

    .item-product-home .text-center {
        margin-top: 10px;
    }


    #content-home .caia-post-list-widget .more-from-category {
        width: 93%;
        margin: 2% 0% 5%;
    }

}

@media screen and (max-width: 568px) {


    .ul-muahang li {
        width: 45%;
        margin-left: 5% !important;
    }


    .item-product-home .img-product img {
        width: 250px;
    }

    .hide-form-phone {
        width: 265px;
    }

    .after_question .widgettitle, #thuong-gap {
        font-size: 22px;
        margin-bottom: 10px
    }

    #wp-question_detail-wrap {
        float: left;
        width: 100%
    }

    p.field-user_name input, p.field-user_email input,
    #ask-new-question input {
        width: 97% !important
    }


    h2.title-product a {
        font-size: 22px;
    }


}

@media screen and (max-width: 500px) {
    .item-product-home .img-product {
        height: 250px;
        width: auto;
        display: block;
    }

    .item-product-home {
        margin-bottom: 0;
    }

    #content-home .caia-post-list-widget .post img {
        width: 100%;
    }

    #content-home .caia-post-list-widget .post h3 a {
        color: #08793d;
        font-size: 15px;
    }

    #content-home .caia-post-list-widget .post .post-info,
    #content-home .caia-post-list-widget .post p {
        display: none;
    }

    #content-home .widget {
        margin: 0;
    }

    #content-home .widgettitle {
        font-size: 22px;
    }

}

/*done*/

@media screen and (max-width: 414px) {

    .item-product .sanpham .nd p {
        text-align: justify;
        height: 70px;
        overflow: hidden;
        float: left;
    }

    .item-product .sanpham span.n-product {
        display: contents;
    }
}

@media screen and (max-width: 375px) {
    .item-product-home .img-product {
        height: 210px;
    }

    .item-product-home .img-product {
        height: 210px;
    }
}

@media screen and (max-width: 320px) {

}

/* Dots */
.slick-dots{
    text-align: right;
    margin: 10px 0;
    z-index: 900;
}

.slick-dots li
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px 7px !important;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 3px;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    background: #fff;
    border: 3px solid #39b54a;
    outline: none;
}

.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button
{
    background: #006b34;
}


.slick-dots{
    text-align: center;
}

.slick-slider
{
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.page-content.page-fields {
    /*padding: 10px 0;*/
}

/*Field Listing*/
.page-content[class*="page-taxonomy-"] {
    background: rgba(0, 0, 0, 0) url("images/HoatDongChanNuoi.jpg") no-repeat scroll center bottom;
    padding: 0;
}

.page-content.page-taxonomy-11 {
    background: rgba(0, 0, 0, 0) url("images/ThucAnChanNuoi.jpg") no-repeat scroll center bottom;
}

.page-content.page-taxonomy-13 {
    background: rgba(0, 0, 0, 0) url("images/DuocThuY.png") no-repeat scroll center bottom / 100% auto;
}

.page-content.page-taxonomy-14 {
    background: rgba(0, 0, 0, 0) url("images/Thucpham.png") no-repeat scroll center bottom / 100% auto;
}


.page-fields .item {
    float: left;
    position: relative;
    width: 50%;
}

.page-fields .item a.text {
    background: #00559a;
    color: #ffffff;
    display: inline-block;
    /*font-size: 40px;*/
    left: 50%;
    line-height: 1;
    padding: 5px 15px 15px;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 60%;
}

.page-fields .item:nth-child(2) a.text {
    background: #00aef0;
}

.page-fields .item:nth-child(3) a.text {
    background: #00b2b4;
}

.page-fields .item:nth-child(4) a.text {
    background: #d22333;
}

.page-fields .item figure {
}

.page-fields .item img {
    width: 100%;
}

.page-content.page-fields {
    /*padding: 10px 0;*/
}

.banner-home .bn-item img {
    width: 100%;
}

.banner .bn-items {
    float: left;
    width: 100%;
}

.banner-home .bn-item {
    position: relative;
}

.navigate-container {
    clear: both;
    padding: 15px 0 0;
}

.navigate-container .navigate {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    font-weight: lighter;
}

.navigate ol {
    margin: 0;
    padding: 0;
}

.navigate ol li {
    display: inline-flex;
    list-style: none;
    font-size: 15px;
}

.navigate ol li a {
    color: #00559a;
}

.divPage {
    clear: both;
}

.divPage .paged {
    margin: 0;
    text-align: center;
}

.paged a.num.select, .paged a.num:hover {
    background: #00559a;
    border: 1px solid #00559a;
    color: #e5e5e5;
}

.paged > a.num {
    /* font-weight: bold; */
}

.paged > a {
    background: none;
    border: 1px solid #dfdfdf;
    display: inline-block;
    float: none;
    font-size: 15px;
    margin-right: 15px;
    padding: 3px 0;
    text-align: center;
    width: 30px;
}

.paged > a.next > span {
    float: none;
}

.page-group .article-listing {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.page-group .article-listing:last-child {
    border: medium none;
    margin: 0;
    padding: 0;
}

.page-content {
    padding: 10px 0;
}

.article-detail .title-article {
    color: #00559a;
    display: block;
    font-family: -webkit-pictograph;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.article-detail .n-title {
    padding-bottom: 5px;
}

.article-detail .n-desc {
    border-bottom: 1px solid #dfdfdf;
    color: #1a1a1a;
    float: left;
    font-family: -webkit-pictograph;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: justify;
    width: 100%;
}

.news-list-detail > div {
    background: #00549a;
    float: left;
    padding: 15px 20px;
    width: 100%;
}
.news-list-detail .box-title {
    margin: 20px 0;
}

.news-list-detail .box-title .text {
    color: #ffffff;
    text-transform: none;
}

.box-title .text {
    color: #00559a;
    display: inline-block;
    font-family: -webkit-pictograph;
    font-size: 40px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
}

.news-list-detail ul li {
    list-style: none;
    padding: 5px 0 5px 25px;
    position: relative;
}

.news-list-detail ul li a {
    color: #ffffff;
    /*font-size: 16px;*/
}

.news-list-detail ul li::after {
    border-bottom: 8px solid transparent;
    border-left: 12px solid #ffffff;
    border-top: 8px solid transparent;
    color: #ac7a31;
    content: "";
    font-size: 30px;
    left: 0;
    position: absolute;
    top: 10px;
}

.news-list-detail ul li a:hover {
    color: #febc11;
}

.title_heading {
    position: relative;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #00559a;
    padding: 13px;
    color: #ffffff;
    text-transform: uppercase;
    background: #00559a;
    margin: 0px 0px 40px 0px;
}

.sliderBanner {
    position: relative;
    width: 100%;
    height: auto;
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    padding: unset;
    margin: unset;
}
.slick-slide {
    margin: 0 5px;
}
.slick-list {
    margin: 0px -5px 0px -5px;
}

.sliderBanner img {
    /*height: 324px;*/
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.group-library iframe {
    width: 100%;
    height: 280px;
}

.contactpage .icon-banner .svg-icon {
    color: #fff443;
    font-size: 65px
}

.contactpage .grd-banner {
    margin-top: 70px;
    margin-bottom: 70px
}

.contact-pagebox {
    padding: 45px 30px 40px;
    border: 1px solid #ddd;
}

.contactpage .grd-banner-style-2 .image {
    float: none
}

.contact-pagebox {
    clear: both;
    background-size: cover;
    margin-bottom: 30px
}

.contactpage-form{
    padding:42px 30px;
    border:1px solid #ddd}

.contactpage-form .error {
    color: #9cc212
}

.contactpage-form input[type="text"],
.contactpage-form input[type="email"],
.contactpage-form select,
.contactpage-form textarea {
    width: 100%;
    border: 1px solid #f2f2f2;
    height: 40px;
    border-radius: 0;
    padding: 10px;
}

.grd-contact-box ul {
    padding: 0
}

.grd-contact-box ul li {
    list-style: none
}

.grd-contact-box ul li .name {
    width: 100%;
    color: #2e2e2e;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 500
}

.grd-contact-box ul li .value {
    width: 100%;
    margin-bottom: 0
}

.grd-contact-box ul li .value .text-green {
    color: #9cc212
}

.grd-contact-box ul li .seasons {
    margin-bottom: 0;
    margin-top: 10px;
    color: #2e2e2e;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif
}

.grd-contact-box ul li:last-child .value {
    margin-bottom: 0
}

.grd-contact-box ul li:nth-child(1),
.grd-contact-box ul li:nth-child(2) {
    margin-bottom: 40px
}
.btn-style-two {
    -webkit-appearance: button;
    cursor: pointer;
    background: #fff;
    color: #089346;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    border: 2px solid #089346;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 17px;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
}

@media screen and (max-width: 600px) {
    .mobile-content img {
        width: 100% !important;
        height: auto;
    }
    .video-listing iframe {
        width: 100% !important;
        height: auto;
    }
}

.more-news {
    color: #727272;
    padding-left: 0;
    list-style: none;
}

.more-news li {
    padding: 15px 0;
    font-size: 18px;
    line-height: 1;
    border-bottom: 1px dashed #b0b0b0;
}

.more-news li a::before {
    content: '●';
    font-size: 18px;
    margin-right: 8px;
    color: #727272;
}

.more-news li a {
    color: #009245 !important;
    font-size: 14px;
    padding-bottom: 10px;

}
.time-posted {
    color: #b0b0b0;
    font-size: 13px;
    display: block;
    margin-top: 5px;
}